extends ../layout
block menu
  +menu("")

block header
  include ../blocks/header

block maincontent
  .container
    main.content
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href='./index.html') Главная
          li.breadcrumbs__item.breadcrumbs__item--active
            a.breadcrumbs__link Личный кабинет пользователя
      section.personal
        h1.page-title Личный кабинет
        .client
          .client__row
            .client__info
              h2.client__subtitle Личные данные
              form.client__form(action='#' name='client')
                .client__form-block
                  .client__form-col
                    .client__form-row
                      span.client__form-text Логин*
                      input.client__form-input(name='login' type='text')
                    .client__form-row
                      span.client__form-text Фио
                      input.client__form-input(name='name' type='text')
                    .client__form-row
                      span.client__form-text E-Mail*
                      input.client__form-input(name='mail' type='text')
                  .client__form-col
                    .client__form-row
                      span.client__form-text Телефон
                      input.client__form-input(name='phone' type='text')
                    .client__form-row
                      span.client__form-text Пароль
                      input.client__form-input(name='password' type='password')
                    .client__form-row
                      span.client__form-text Повторите
                      input.client__form-input(name='reply' type='password')
                  button.client__form-btn Редактировать
            .client__card
              h3.client__card-title Статус:
              .client__card-block.card
                .card__number 0123
                ul.card__name
                  li.card__name-item Имя
                  li.card__name-item Фамилия
                  li.card__name-item Отчество
                .card__bonus
                  span.card__bonus-text Бонусные баллы:
                  span.card__bonus-value 0
          .client__row
            h2.client__subtitle История заказов

include ../mixins/menu