extends ../layout

block menu
  +menu("")

block header
  include ../blocks/header

block maincontent
  .container
    main.content
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href='./index.html') Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Каталог
          li.breadcrumbs__item.breadcrumbs__item--active
            a.breadcrumbs__link Кофе
      
      include ../blocks/filter

      ul.sorting
        li.sorting__item
          a.sorting__link(href='#') По названию
        li.sorting__item
          a.sorting__link(href='#') По популярности
        li.sorting__item
          a.sorting__link.is-active(href='#') По цене
      .container.container--inner
        .page-content
          ul.page-content__list
            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_1.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 АЛЬМА ДИ КАФЕ (капсулы)
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Кофе в капсулах
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count
                
                +product-count(1270, null, null)

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_2.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 Бабл гамм
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Десертные
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(1250, true, ['Колумбия Supreme','Арабика Premium'])

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_3.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 КРЕМ-КАРАМЕЛЬ (с ароматом попкорна)
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Десертные
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(1257, true, null)

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_4.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 Эспрессо №1
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Купажи
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(250, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_1.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 АЛЬМА ДИ КАФЕ (капсулы)
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Кофе в капсулах
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(420, true, ['Колумбия Supreme','Арабика Premium'])

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_2.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 Бабл гамм
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Десертные
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(420, true, ['Колумбия Supreme','Арабика Premium'])

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_3.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 КРЕМ-КАРАМЕЛЬ (с ароматом попкорна)
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Десертные
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(420, true, ['Колумбия Supreme','Арабика Premium'])

            li.page-content__item
              .page-content__img
                a(href='./product.html')
                  img.page-content__img-pic(src='./img/catalog/catalog_4.png' alt='')
              .page-content__text.catalog__content
                a(href='./product.html')
                  h2 Эспрессо №1
                .catalog__link-wrap
                  a.catalog__link(href='./catalog.html') Купажи
                p
                  | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                  | робуста.
                  | Крепкий напиток с мягким вкусом.
              .catalog__count

                +product-count(420, true, ['Колумбия Supreme','Арабика Premium'])

          .pagination
            .pagination__controls
              span.pagination__listing.pagination__listing--active
                a.pagination__prev Назад
              ul.pagination__pages
                li.pagination__pages-item.pagination__pages-item--active
                  a.pagination__link 1
                li.pagination__pages-item
                  a.pagination__link(href='#') 2
                li.pagination__pages-item
                  a.pagination__link(href='#') 3
                li.pagination__pages-item
                  a.pagination__link(href='#') 4
                li.pagination__pages-item
                  a.pagination__link(href='#') 5
              span.pagination__listing
                a.pagination__next(href='#') Вперед

        aside.sidebar

          include ../blocks/navigation

          .sidebar__block
            h3.sidebar__subtitle Новости

            include ../blocks/article

      .recommend
        .recommend__top Персональные рекомендации:
        ul.recommend__list
          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='./img/catalog/catalog_7.png' alt='')
            a.recommend__group(href='#') Лучезарный Будда
            .recomend__count

              +product-count(154, true, null)

          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='./img/catalog/catalog_7.png' alt='')
            a.recommend__group(href='#') Ассам 17
            .recomend__count

              +product-count(250, true, null)

          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='../img/catalog/catalog_5.png' alt='')
            a.recommend__group(href='#') Забаглионе
            .recomend__count

              +product-count(250, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])

          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='./img/catalog/catalog_6.png' alt='')
            a.recommend__group(href='#') Черная лилия
            .recomend__count
            
                +product-count(250, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])
  .modal
    .modal__inner
      button.modal__close
      h3.modal__title Товар успешно добавлен в корзину

include ../mixins/menu
include ../mixins/product-count