extends ../layout

block menu
  +menu("Доставка и оплата")

block header
  include ../blocks/header

block maincontent
  .container
    main.content
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href='./index.html') Главная
          li.breadcrumbs__item.breadcrumbs__item--active
            a.breadcrumbs__link Доставка и оплата
      section.delivery
        h1.page-title Доставка и оплата
        .delivery__desc
          h2 Стоимость доставки по Москве.
          p
            span Бесплатная доставка при заказе от 3000 рублей.
            br
            span При заказе до 3000 рублей стоимость доставки составляет 250 рублей.
          h2 Сроки доставки.
          div
            span Мы обжариваем кофе только после получения вашего заказа.
            br
            span
              | Потому сроки доставки немного выше, чем в магазинах торгующих готовой продукцией.
            ul
              li
                | Заказы, оформленные с понедельника по пятницу до 16:00, доставляются в понедельник следующей недели.
              li
                | Заказы, оформленные в пятницу после 17:30, а так же в субботу и воскресенье, доставляются во вторник
                | следующей недели.
          h2 Условия оплаты.
          p Вы можете оплатить заказ наличными курьеру.

include ../mixins/menu