extends ../layout

block menu
  +menu("")

block header
  .header__main-wrapper
    include ../blocks/header

block maincontent
  .maincontent
    .slider
      .slider__static
        a.slider__static-link(href="./catalog.html")
          img.slider__static-img(src="./img/main/static.jpg", alt="")
    .container
      main.content.content--main-page
        .content__lines
        section.content__block
          .section-title
            h2.section-title__text Хиты продаж
          ul.recommend__list
            li.recommend__item
              .recommend__img
                img.recommend__img-pic(src='./img/catalog/catalog_12.png' alt='')
              a.recommend__group(href='#') Барбадос (Bonka)
              .recomend__count

                +product-count(154, true, null)

            li.recommend__item
              .recommend__img
                img.recommend__img-pic(src='./img/catalog/catalog_5.png' alt='')
              a.recommend__group(href='#') Забаглионе
              .recomend__count

                +product-count(250, true, null)

            li.recommend__item
              .recommend__img
                img.recommend__img-pic(src='./img/catalog/catalog_8.png' alt='')
              a.recommend__group(href='#') Императрица
              .recomend__count

                +product-count(311, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])

            li.recommend__item
              .recommend__img
                img.recommend__img-pic(src='./img/catalog/catalog_9.png' alt='')
              a.recommend__group(href='#') Кения АА
              .recomend__count
              
                  +product-count(250, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])
            
        section.content__block
          .section-title
            h2.section-title__text Новости
          .content__block-row
            .content__block-elem

              include ../blocks/article
              
        section.content__block
          .section-title
            h2.section-title__text О нас
          .content__block-row.content__block-media
            .content__block-video
              iframe(width='560' height='315' src='https://www.youtube.com/embed/YLVJ9KwKJqA' allowfullscreen='')
            .content__block-desc
              p
                | Кофе – самый популярный утренний напиток у людей всего мира. Кому-то
                | нравится растворимый кофе, на который уходит минимум времени, кто-то предпочитает качественный молотый
                | продукт. Но самым идеальным считается кофе в зёрнах.
              p
                | Чтобы получить настоящее удовольствие от вкуса и запаха напитка, нужно
                | знать, как правильно выбрать зерна и как отличить хороший кофе от некачественного.

include ../mixins/menu
include ../mixins/product-count