extends ../layout

block menu
  +menu("О нас")

block header
  include ../blocks/header

block maincontent
  .container
    main.content
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href='./index.html') Главная
          li.breadcrumbs__item.breadcrumbs__item--active
            a.breadcrumbs__link О нас
      section.about
        h1.page-title О нас
        .about__content.container
          .about__desc
            p
              | Официальный интернет-магазин российского обжарщика кофе "Царское Подворье".
            div
              span Компания «Царское Подворье» основана в 1997 году.
              br
              span
                | Мы один из ведущих производителей Specialty coffee в России. Specialty Coffee - это
              ul
                li зерна арабики только с лучших плантаций мира, 
                li выращенные на высоте более 1 000 метров над уровнем моря,
                li без использования химических удобрений,
                li собранные вручную,
                li прошедшие многоступенчатую сортировку и калибровку.
            p
              | Менее 10% кофейных зерен, выращенных в мире, относятся к категории Specialty Coffee.
              | Продукция «Царского подворья» неоднократно награждалась дипломами и медалями различных выставок, в том
              | числе международных.
              | Ежегодно престижная продовольственная выставка «Продэкспо» признает наш кофе одним из лучших в России.
              | Мы уверены в нашем продукте, который принципиально отличается от привычного масс-маркета.
            div
              span Уровень качества обеспечен строгим контролем на каждом этапе производства:
              ul
                li Мы выбрали лучших поставщиков из 25 стран мира.
                li
                  | Мы используем только арабику нового урожая, собранную методом picking (т.е. поштучно, вручную). На
                  | одной ветке кофейного дерева могут одновременно находиться цветы, зеленые, спелые и презревшие
                  | кофейные ягоды. И только ручной сбор позволяет получать продукт высочайшего класса.
                li Степень обжарки подобрана нашим технологом индивидуально для каждого сорта.
                li
                  | Обжаркой занимаются профессионалы с огромным стажем на немецком оборудовании: ростерах Probat.
                  | Благодаря сложной системе тэнов и максимальной партии загрузки в 12 килограмм нам удается всегда
                  | попадать в цвет обжарки и поддерживать его постоянство от партии к партии.
                li
                  | У нас нет склада готовой продукции. Мы обжариваем кофе только после получения вашей заявки.
          .about__img
            img.about__img-pic(src='./img/about/about.png' alt='')

include ../mixins/menu