extends ../layout

block menu
  +menu("")

block header
  include ../blocks/header

block maincontent
  .container
    main.content
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href='./index.html') Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Каталог
          li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Кофе
          li.breadcrumbs__item.breadcrumbs__item--active
            a.breadcrumbs__link Кофе в капсулах
      .container.container--inner
        .page-content
          .page-content__item
            .page-content__img.page-content__img--product
              a(href='./product.html')
                img.page-content__img-pic(src='./img/catalog/catalog_4.png' alt='')
            .page-content__text.catalog__content
              a(href='./product.html')
                h2 АЛЬМА ДИ КАФЕ (капсулы)
              .catalog__link-wrap
                a.catalog__link(href='./catalog.html') Кофе в капсулах
              p
                | В основе этого купажа классические сорта арабики из Гватемалы и Эфиопии. Насыщенность вкусу придает
                | робуста.
                | Крепкий напиток с мягким вкусом.
            .catalog__count
              +product-count(250, true, null)
          .page-content__info
            a.page-content__info-link(href='#') Рецепты кофе
            a.page-content__info-link(href='#')  Отзывы (0)

        aside.sidebar

          include ../blocks/navigation

          .sidebar__block
            h3.sidebar__subtitle Новости

            include ../blocks/article
        
      .recommend
        .recommend__top Персональные рекомендации:
        ul.recommend__list
          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='./img/catalog/catalog_7.png' alt='')
            a.recommend__group(href='#') Лучезарный Будда
            .recomend__count

              +product-count(154, true, null)

          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='./img/catalog/catalog_7.png' alt='')
            a.recommend__group(href='#') Ассам 17
            .recomend__count

              +product-count(250, true, null)

          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='../img/catalog/catalog_5.png' alt='')
            a.recommend__group(href='#') Забаглионе
            .recomend__count

              +product-count(250, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])

          li.recommend__item
            .recommend__img
              img.recommend__img-pic(src='./img/catalog/catalog_6.png' alt='')
            a.recommend__group(href='#') Черная лилия
            .recomend__count
            
                +product-count(250, true, ['Колумбия супремо', 'Марагоджил', 'Декаф'])

include ../mixins/menu
include ../mixins/product-count