extends ../layout

block menu
  +menu("Спецпредложения")

block header
  include ../blocks/header

block maincontent
  .container
    .content
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href='./index.html') Главная
          li.breadcrumbs__item.breadcrumbs__item--active
            a.breadcrumbs__link Спецпредложения
      h1.page-title Спецпредложения
      .page-content
        main.content__main
          ul.content__list

include ../mixins/menu