.article
  img.article__img(src='./img/news/news_02.jpg' alt='Открытие нового сайта')
  h4
    a(href='#') РУССКАЯ ОБЖАРКА КОФЕ ПРИЗНАНА ЛУЧШЕЙ В МИРЕ!
  time(datetime='2018-07-01') 01.07.2020
  p
    |Какая обжарка кофе лучшая в мире? Итальянская? Французская?
    br
    |А вот и нет, все меняется. Сегодня в Тайбэе (Тайвань) прошел чемпионат мира по обжарке кофе. 
    |И в нем второй год подряд побеждает обжарщик из России!
    br
    | В нашей стране действительно потрясающе обжаривают кофе. 
    | Потому мы уверены, что уже скоро словосочетание «русская обжарка» во всем мире будет 
    | восприниматься как знак высочайшего качества.