footer.footer
  .container.footer__container
    .logo
      a.logo__link(href='#')
        img.logo__pic(src='./img/footer/logo-gold.png' alt='Компания Bonka')
    .footer__nav
      ul.footer__nav-list
        li.footer__nav-item
          a.footer__nav-link(href='./o-nas.html') О нас
        li.footer__nav-item
          a.footer__nav-link(href='./dostavka-i-oplata.html') Доставка и оплата
        li.footer__nav-item
          a.footer__nav-link(href='./bongid.html') Бонгид
        li.footer__nav-item
          a.footer__nav-link(href='./blog.html') Блог
        li.footer__nav-item
          a.footer__nav-link(href='./spetspredlozheniya.html') Спецпредложения
    .footer__content
      ul.goods.footer__goods
        -var goods = ["Кофе","Чай","Посуда","Сладости","Сахар","Кофемашины","Кофе в шоколаде","Прочее"]
          each goodItem in goods
            li.goods__item
              a.goods__link(href='#') #{goodItem}      
      .company-contacts

        include ../blocks/socials
        
        .company-contacts__copyright © 2017 Магазин кофе и чая
        a.company-contacts__mail(href='mailto:#') marketing@tzarpo.ru