footer.footer
  .container.footer__container
    .logo
      a.logo__link(href='#')
        img.logo__pic(src='./img/footer/logo-gold.png' alt='Компания Bonka')
    .footer__nav
      ul.footer__nav-list
        li.footer__nav-item
          a.footer__nav-link(href='./o-nas.html') О нас
        li.footer__nav-item
          a.footer__nav-link(href='./dostavka-i-oplata.html') Доставка и оплата
        li.footer__nav-item
          a.footer__nav-link(href='./bongid.html') Бонгид
        li.footer__nav-item
          a.footer__nav-link(href='./blog.html') Блог
        li.footer__nav-item
          a.footer__nav-link(href='./spetspredlozheniya.html') Спецпредложения
    .footer__content
      ul.goods.footer__goods
        li.goods__item
          a.goods__link(href='') Кофе
        li.goods__item
          a.goods__link(href='') Чай
        li.goods__item
          a.goods__link(href='') Посуда
        li.goods__item
          a.goods__link(href='') Сладости
        li.goods__item
          a.goods__link(href='') Сахар
        li.goods__item
          a.goods__link(href='') Кофемашины
        li.goods__item
          a.goods__link(href='') Кофе в шоколаде
        li.goods__item
          a.goods__link(href='') Прочее
      .company-contacts
        .socials
          ul.socials__list
            li.socials__item
              a.socials__link(href='#')
                img.socials__img(src='./img/socials/fb.png' alt='facebook')
            li.socials__item
              a.socials__link(href='#')
                img.socials__img(src='./img/socials/vk.png' alt='vk')
            li.socials__item
              a.socials__link(href='#')
                img.socials__img(src='./img/socials/ok.png' alt='ok')
            li.socials__item
              a.socials__link(href='#')
                img.socials__img(src='./img/socials/yt.png' alt='youtube')
            li.socials__item
              a.socials__link(href='#')
                img.socials__img(src='./img/socials/instagrem.png' alt='instagram')
        .company-contacts__copyright © 2017 Магазин кофе и чая
        a.company-contacts__mail(href='mailto:#') marketing@tzarpo.ru