ul.navigation
  li.navigation__item
    .navigation__row
      a.navigation__link.navigation__link--coffee(href='#')
        span.navigation__name Кофе
      span.navigation__btn
    ul.navigation__inner
      li.navigation__inner-item
        a.navigation__inner-link(href='#') Плантационные
  li.navigation__item
    .navigation__row
      a.navigation__link.navigation__link--tea(href='#')
        span.navigation__name Чай
      span.navigation__btn
    ul.navigation__inner
      li.navigation__inner-item
        a.navigation__inner-link(href='#') АРОМАТИЗИРОВАННЫЙ ЗЕЛЕНЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') АРОМАТИЗИРОВАННЫЙ ЧЕРНЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') БЕЛЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') ЖАСМИНОВЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') КЛАССИЧЕСКИЙ ЗЕЛЕНЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') КЛАССИЧЕСКИЙ ЧЕРНЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') КОМПОЗИЦИОННЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') ПУ ЭР
      li.navigation__inner-item
        a.navigation__inner-link(href='#') СВЯЗАННЫЙ ЧАЙ
      li.navigation__inner-item
        a.navigation__inner-link(href='#') УЛУН
      li.navigation__inner-item
        a.navigation__inner-link(href='#') ЧАЙНЫЕ НАПИТКИ
  li.navigation__item
    .navigation__row
      a.navigation__link.navigation__link--dishes(href='#')
        span.navigation__name Посуда
  li.navigation__item
    .navigation__row
      a.navigation__link.navigation__link--sweet(href='#')
        span.navigation__name Сладости
  li.navigation__item
    .navigation__row
      a.navigation__link.navigation__link--sugar(href='#')
        span.navigation__name Сахар
  li.navigation__item
    .navigation__row
      a.navigation__link.navigation__link--machine(href='#')
        span.navigation__name Кофемашины
  li.navigation__item
    .navigation__row
      a.navigation__link(href='#')
        span.navigation__name Кофе в шоколаде
  li.navigation__item
    .navigation__row
      a.navigation__link(href='#')
        span.navigation__name Прочее