.scrolled
  .container.scrolled__container
    button.catalog Каталог
    .logo.scrolled__logo
      a.logo__link(href='./index.html')
        img.logo__pic(src='./img/scrolled/logo-gold-mini.png' alt='Компания Bonka')
    ul.goods.scrolled__goods
      li.goods__item
        a.goods__link(href='./catalog.html') Кофе
        .goods__drop
          ul.goods__drop-list
            li.goods__drop-item
              a.goods__drop-link(href='#') Десертные
            li.goods__drop-item
              a.goods__drop-link(href='#') Зерновой кофе в пакетах дой пак с застежкой зип лок
            li.goods__drop-item
              a.goods__drop-link(href='#') Кофе в капсулах
            li.goods__drop-item
              a.goods__drop-link(href='#') Купажи
            li.goods__drop-item
              a.goods__drop-link(href='#') Молотый кофе в подарочной упаковке
            li.goods__drop-item
              a.goods__drop-link(href='#') Плантационные
            li.goods__drop-item
              a.goods__drop-link(href='#') Плантационный кофе
            li.goods__drop-item
              a.goods__drop-link(href='#') Элитные
      li.goods__item
        a.goods__link(href='') Чай
        .goods__drop
          ul.goods__drop-list
            li.goods__drop-item
              a.goods__drop-link(href='#') Ароматизированный зеленый чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Ароматизированный черный чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Белый чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Жасминовый чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Классический зеленый чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Классический черный чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Композиционный чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Пу Эр
            li.goods__drop-item
              a.goods__drop-link(href='#') Связанный чай
            li.goods__drop-item
              a.goods__drop-link(href='#') Улун
            li.goods__drop-item
              a.goods__drop-link(href='#') Чайные напитки
      li.goods__item
        a.goods__link(href='') Посуда
      li.goods__item
        a.goods__link(href='') Сладости
      li.goods__item
        a.goods__link(href='') Сахар
      li.goods__item
        a.goods__link(href='') Кофемашины
      li.goods__item
        a.goods__link(href='') Кофе в шоколаде
      li.goods__item
        a.goods__link(href='') Прочее
    ul.scrolled__list
      li.scrolled__item
        a.scrolled__link(href='#')
          i.fa.fa-phone-square
      li.scrolled__item.scrolled__search
        a.scrolled__link(href='#')
          i.fa.fa-search
        .scrolled__search-drop
          form.scrolled__search-form(action='#')
            .search__inner
              input.search__input(type='text' placeholder='Поиск')
              button.search__btn
                i.fa.fa-search
      li.scrolled__item
        a.scrolled__link(href='#')
          i.fa.fa-shopping-bag