aside.sidebar
  ul.navigation
    li.navigation__item
      .navigation__row
        a.navigation__link.navigation__link--coffee(href='#')
          span.navigation__name Кофе
        span.navigation__btn
      ul.navigation__inner
        li.navigation__inner-item
          a.navigation__inner-link(href='#') Плантационные
    li.navigation__item
      .navigation__row
        a.navigation__link.navigation__link--tea(href='#')
          span.navigation__name Чай
        span.navigation__btn
      ul.navigation__inner
        li.navigation__inner-item
          a.navigation__inner-link(href='#') АРОМАТИЗИРОВАННЫЙ ЗЕЛЕНЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') АРОМАТИЗИРОВАННЫЙ ЧЕРНЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') БЕЛЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') ЖАСМИНОВЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') КЛАССИЧЕСКИЙ ЗЕЛЕНЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') КЛАССИЧЕСКИЙ ЧЕРНЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') КОМПОЗИЦИОННЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') ПУ ЭР
        li.navigation__inner-item
          a.navigation__inner-link(href='#') СВЯЗАННЫЙ ЧАЙ
        li.navigation__inner-item
          a.navigation__inner-link(href='#') УЛУН
        li.navigation__inner-item
          a.navigation__inner-link(href='#') ЧАЙНЫЕ НАПИТКИ
    li.navigation__item
      .navigation__row
        a.navigation__link.navigation__link--dishes(href='#')
          span.navigation__name Посуда
    li.navigation__item
      .navigation__row
        a.navigation__link.navigation__link--sweet(href='#')
          span.navigation__name Сладости
    li.navigation__item
      .navigation__row
        a.navigation__link.navigation__link--sugar(href='#')
          span.navigation__name Сахар
    li.navigation__item
      .navigation__row
        a.navigation__link.navigation__link--machine(href='#')
          span.navigation__name Кофемашины
    li.navigation__item
      .navigation__row
        a.navigation__link(href='#')
          span.navigation__name Кофе в шоколаде
    li.navigation__item
      .navigation__row
        a.navigation__link(href='#')
          span.navigation__name Прочее
  .sidebar__block
    h3.sidebar__subtitle Новости
    .article
      img.article__img(src='./img/news/news_01.png' alt='Открытие нового сайта')
      h4
        a(href='#') Начал работать фирменный интернет-магазин "Царского Подворья"!
      time(datetime='2018-07-01') 01.07.2018
      p
        | В компанию "Царское Подворье" часто поступают звонки и письма с вопросом "где можно купить ваш
        | кофе?".
        br
        |Нас радует подобное внимание, ведь это доказательство качества наших продуктов.
        br
        |Не смотря на широкую сеть дистрибьюторов по всей России, не все позиции нашего широкого ассортимента
        |легко купить.
        br
        |Специально для настоящих и будущих поклонников "Царского подворья" мы запустили интернет-магазин. В
        |нем
        |представлены все 278 видов кофе, которые мы производим. Так же в нем можно найти наш чай, мармелад,
        |драже и кофейную посуду.