.socials
  ul.socials__list
    li.socials__item
      a.socials__link(href='#')
        img.socials__img(src='./img/socials/yt.png' alt='youtube')
    li.socials__item
      a.socials__link(href='#')
        img.socials__img(src='./img/socials/instagrem.png' alt='instagram')