//Переменные цвета
$green: #469c93;
$dark: #262627;
$grey: #333;
$lightGrey: #f3eeec;
$red: #c22032;
$beige: #bfb3ae;
$lightBeige: #f5f2f0;

//Переменные начертания
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;

//Переменные размера дисплея
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;