.calendar {
  display: inline-block;
}
.calendar__link {
  display: inline-flex;
  align-items: center;
}
.calendar__text {
  border-bottom: 1px solid #000;
  transition: .4s;
  white-space: nowrap;
  &:hover {
    border-color: transparent;
  }
}