.catalog {
  margin: 10px 0 10px auto;
  padding: 9px 10px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  transition: .2s;
  display: none;
  @include tablets {
    display: inline-block;
  }
  
  &:hover, &:focus, &.is-active {
    background-color: #fff;
    color: $dark;
    border-color: transparent;
    outline: none;
  }
}
.catalog__link-wrap {
  margin-bottom: 5px;
}
.catalog__link {
  font-size: 12px;
  border-bottom: 1px solid #000;
  
  &:hover {
    border-color: transparent;
  }
}
.catalog__content {
  & p {
    font-size: 14px;
    @include phones {
      text-align: justify;
    }
  }
}
.catalog__count{
  margin: auto 0;
  text-align: center;
  min-width: 220px;
  padding: 3px 3px 3px 10px;
  @include tablets {
    width: auto;
  }
}