.filter {
  color: $dark;
  font-size: 12px;
  font-family: Georgia, serif;
  font-style: italic;
  margin-bottom: rem(15px);
  width: 100%;
  position: relative;
}
.filter__row {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  @include laptop {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.filter__col {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  min-width: rem(100px);
  flex: 1;
  @include laptop {
    width: 30%;
    flex: 1 0 auto;
  }
  @include phones {
    width: 40%;
  }
  &:last-child {
    @include phones {
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
  }  
}
.filter__col-name {
  margin-bottom: rem(10px);
  white-space: nowrap;
}
.filter__price {
  padding-top: 10px;
  @include flex(flex-start, center);
}
.filter__price-val {
  border: none;
  outline: none;
  color: $dark;
  margin: 0 3px;
}
.filter__price-min {
  margin-right: auto;
}
.filter__btn {
  background: $dark;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-style: italic;
  align-self: flex-start;
  margin-bottom: 8px;
  @include laptop {
    align-self: stretch;
  }
  @include phones {
    margin-bottom: 0;
    margin-right: 20px;
    flex: .9;
  }
}
.filter__reset {
  background: $green;
  color: #fff;
  padding: 4px 21px;
  border-radius: 5px;
  font-style: italic;
  
  align-self: flex-start;
  @include laptop {
    align-self: stretch;
  }
}