.footer {
  margin-top: auto;
  background-color: $green;
  color: #fff;
  padding-top: rem(10px);
  padding-bottom: rem(20px);
}
.footer__content {
  @include flex (space-between, flex-end);
  flex-direction: column;
}
.footer__container {
  align-items: center;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  padding: rem(15px) 0;
  @include laptop {
    align-items: center;
    text-align: center;
  }
}
.footer__nav-link {
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: .3s;
  &:hover {
    border-color: #fff;
  }
}
.footer__goods {
  font-size: rem(16px);
  @include desktop {
    font-size: rem(15px);
  }
  @include tablets{
    flex-wrap: wrap;
  }
  @include tablets {
    flex-direction: column;
    width: auto;
    font-size: rem(16px);
  }
}
.footer__goods .goods__link {  
  border-bottom: 1px solid transparent;
  transition: .3s;
  margin-right: 5px;
  &:hover {
    border-color: #fff;
  } 
}