.recommend {
  width: 100%;
  margin-top: 15px;
}
.recommend__top {
  padding: 10px 0;
  text-align: center;
  background: #ebf4f8;
  margin-bottom: 15px;
}
.recommend__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}
.recommend__item {
  display: flex;
  padding: rem(40px) rem(15px) rem(10px);
  flex-direction: column;
  margin: 0 0 15px 15px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;

  width: calc(25% - 15px);

  @include laptop {
    width: calc(50% - 15px);
  }
}
.recommend__img-pic {
  max-width: 100%;
}
.recommend__group {
  display: block;
  margin: 10px 0 10px;
}
.recomend__count{
  height: 100%;
}