.registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.registration__row {
  display: flex;
  justify-content: space-between;
}
.registration__col {
  width: 50%;
}
.registration__input {
  padding: 5px;
  display: inline-block;
  margin-left: 10px;
  outline: none;
  min-width: rem(180px);
  &:focus {
    border-color: $dark;
  }
}
.registration__submit {
  width: 100%;
  text-align: end;
}
.registration__btn{
  min-width: rem(180px);
}