.sorting {
  display: flex;
  align-self: flex-start;
  margin-bottom: rem(15px);
}
.sorting__item {
  font-size: 12px;
  margin-right: 10px;
}
.sorting__link {
  &::after {
    content: "";
    display: inline-block;
    font-size: 0;
    margin-left:4px;
    border: 6px solid transparent;
    border-bottom-color: $dark;
    border-width: 0px 4px 8px;
  }
  &.is-active::after {
    border-color: transparent;
    border-top-color: $dark;
    border-width: 8px 4px 0px;
  }
}