.choise__label.ui-button {
  background-color: #a18e87;
  color: #fff;
  font-weight: 500;
  &:hover, &:active {
    color: #fff;
    background-color: $green;
    border-color: $green;
    }
  &.ui-checkboxradio-checked{
    background-color: $green;
    color: #fff;
  }
}
.ui-checkboxradio-checked.ui-state-active {
  border-color: $green;
  &:hover, &:active {
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
}
.ui-visual-focus {
  box-shadow: none;
}