.ui-slider.ui-slider-horizontal {
  border: none;
  height: 1px;
  padding-top: 2px;
  border-bottom: 4px solid #ccc;
  min-width: 115px;
  & .ui-slider-range {
    background: $green;
    height: 4px;
    margin-top: 2px;
  }
  &.ui-widget.ui-widget-content {
    min-width: 0;
  }
}
.ui-slider-handle {
  cursor: pointer!important;
  border-radius: 50%;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  outline: none;  
  &::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: $green;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.ui-slider {
  & .ui-state-active {
      background: #fff;
      border-color: #c5c5c5;
      &:hover {
        background: #fff;
        border-color: #c5c5c5;
      }
    }
}