.ui-button{
    padding: 4px 2px 2px 4px;
    background: #fff;
    margin: 0;
    border-color: #a18e87;
    &:focus {
        background: #fff;
    }
}
.ui-selectmenu-text {
    font-weight: 700;
    color: $dark;
}
.ui-widget{
    font-size: 12px;
}
.ui-selectmenu-button.ui-button{
    width: auto;
    flex: 1;
    margin-left: 10px;
    margin-bottom: 10px;
    outline: none;
    color: $dark;
    border-color: #a18e87;
}
.ui-menu {
    margin: 0!important;
    & .ui-menu-item-wrapper{
        padding: 3px;
        color: $dark;
        border-color: #a18e87;
    }
    & .ui-menu-item-wrapper.ui-state-active{
        padding: 3px;
        background: #fff;
        color: $dark;
        border-color: transparent;
        border-bottom: 1px dashed $dark;
        border-bottom-color: $dark;
    }
}
.ui-selectmenu-button.ui-button.ui-widget{
    &:hover{
        background: #fff;
        color: $dark;
        border-color: #a18e87;
    }
}
.ui-selectmenu-icon.ui-icon {
    position: relative;
    background-image: none!important;
    &:hover {
        background-image: none!important;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        font-size: 0;
        border: 5px solid transparent;
        border-top: 5px solid #5e2901;
    }
}