.client__row {
  display: flex;
  padding: rem(20px) 0;
  @include laptop {
    flex-direction: column;
  }
}
.client__info{
  width: 70%;
  padding-right: rem(20px);
  @include laptop {
    width: 100%;
  }
}
.client__card {
  width: 30%;
  max-width: rem(340px);
  color: $brown;
  font-size: rem(17px);
  margin-left: auto;
  @include laptop {
    width: 100%;
    margin-left: 0;
  }
}
.client__card-title {
  font-size: rem(17px);
  font-weight: $lightFont;
  padding-left: rem(15px);
  margin-bottom: rem(10px);
}
.client__subtitle {
  align-self: flex-start;
  display: inline-block; 
  margin-bottom: rem(25px);
  padding: rem(5px) rem(15px);
  border-radius: 5px;
  background-color: $red;
  color: #fff;
  font-size: rem(19px);
}
.client__form-block{
  display: flex;
  flex-wrap: wrap;
}
.client__form-col {
  width: 50%;  
  padding-left: rem(15px);
  @include laptop {
    width: 100%;
  }
}
.client__form-row {
  @include flex(space-between, center);
  margin-bottom: rem(10px);
}
.client__form-text{
  color: $brown;
  font-size: rem(18px);
  font-weight: $lightFont;
}
.client__form-input{
  padding: 10px 5px;
  min-width: 70%;
  margin-left: auto;
  outline: none;
  border: 1px solid #E0D5CF;
  &:focus {
    border-color: $brown;
  }
}
.client__form-btn {
  margin-left: auto;
  width: 25%;
  color: $red;
  border: 3px solid $red;
  border-radius: 5px;
  padding: 5px;
  transition: .3s;
  &:hover {
    color: #fff;
    background-color: $red;
  }
  @include laptop {
    width: 50%;
  }
}