.content {
  @include flex (flex-start, center);
  flex-direction: column;
  padding: rem(50px) 0;
  width: 100%;  
}
.content__lines {
  width: 95%;
  height: 6px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: rem(50px);
}
.content__block {
  width: 100%;
}
.content__block-row {
  width: 100%;
  display: flex;  
}
.content__block-media {
  @include laptop {
    flex-direction: column;
  }
}
.content__block-elem {
  width: 25%;
  padding: 0 rem(15px);
  margin-bottom: rem(30px);
  text-align: center;
  @include laptop {
    width: 50%;
  }
}
.content__block-desc {
  @include flex(center, center);
  flex-direction: column;
  text-align: center;
  padding: 0 rem(15px);
  margin: 0 auto;
  & p {
    padding: rem(10px);    
  }
}
.content__block-video {
  margin: 0 auto;
  & iframe {
    border: none;
  }
}
@media screen and (max-width: 605px) {
  .content__block-video {
    display: none;
  }
}