.goods {
  @include flex(space-evenly, flex-end);
  width: 100%;
  @include tablets {
    align-items: stretch;
  }
 }
 .goods__item {
   position: relative;
   &:last-child{
     margin-right: 0;
   }
 }
 .goods__link {
  display: block;
  text-transform: uppercase;
  text-align: center;
 }
 .goods__img {
    @include laptop {
      display: none;
    }
 }
 .goods__text {
   display: inline-block;
   max-width: rem(100px);
   @include laptop {
     max-width: none;
   }
 } 
 
 .goods__drop {   
   position: absolute;
   font-family: Georgia, serif;
   left: 0;
   top: 100%;
   min-width: rem(200px);
   color: $midBrown;
   border: 1px solid $beige;
   border-radius: 4px;
   padding: 8px 12px 0;
   background: #fff;
   font-style: italic;
   display: none;
   z-index: 2;
 }
 .goods__item:hover .goods__drop {
  display: block;
}
 .goods__drop-item {
   padding-bottom: rem(5px);
   margin-bottom: rem(5px);
   border-bottom: 1px dashed $beige;
   &:hover {
    border-bottom: 1px solid $beige;
   }
   &:last-child {
    border: none;
   }
 }