.login {
  color: $lightBrown;
  font-size: rem(14px);
  display: flex;
  //flex: 1 1;
  margin: 0 rem(5px);
  &.login--scrolled {
    @include desktop {
      display: none;
    }
  }
}
.login__link {
  &:after {
  content: "/";
  margin-left: 5px;
  }
  &:last-child::after{
    display: none;
  }
}