.menu {
  background-color: $brown;
  color: #fff;
  padding-bottom: rem(10px);
  @include flex(space-between, center);
  flex-shrink: 0;
  min-height: 50px;
  font-size: 12px;
}
// .menu__container {
//   @include laptop {
//     flex-direction: column;
//     align-items: center;
//   }
// }
.menu__list {
  @include flex(space-between, center);
  flex: 0.8;  
}
.menu__item {
  padding: 15px;
  text-transform: uppercase;
  margin:0 rem(10px);
  white-space: nowrap;
  &.menu__item--active {
    border-top: 1px solid #fff;
  }
}