.scrolled {
  position: fixed;
  background-color: $brown;
  opacity: 0;
  width: 100%;
  color: #fff;
  z-index: -1;
  
  @include tablets {
    z-index: 11;
    opacity: 1;
    position: static;
  }
  &.is-active {
    position: fixed;
    z-index: 11;
    opacity: 1;
    top: 0;
    transition: opacity ease .6s;    
  }
}
.scrolled__goods {
  width: 70%;  
  border-right: 1px dashed $lightBrown;  
  transition: all .6s;

  @include laptop {
    border: none;
    width: 90%;
    font-size: rem(12px);
  }

  @include tablets {
    flex-direction: column;
    width: 100%;    
    max-height: 0;
    overflow: hidden;
    & .goods__item:hover .goods__drop {
      display: none;
    } 
  }

  & .goods__link {
    text-align: start;
    padding: 15px 0;
  }
  & .goods__item:first-child {
    @include tablets {
      border-top: 1px solid $lightBrown;
    }
  }    
}
.scrolled__list {
  position: relative;
}
.scrolled__search {
  &:hover .scrolled__search-drop {
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -25px;
    left: 0;
    @include laptop {
      height: 10px;
      bottom: -5px;
    }
  }
}
.scrolled__search-drop {
  position: absolute;
  bottom: -55px;
  background: #fff;
  right: 0;
  border: 2px solid $brown;
  width: 200%;
  display: none;
  & .search__inner {
    border-radius: 0;
  }
  @include laptop {
    bottom: -33px;
  }
}


.scrolled__container {
  align-items: center;
  @include laptop {
    flex-direction: row;
  }

  @include tablets {
    flex-direction: column;
  }
}

.scrolled__logo {
  @include laptop {
    display: none;
  }
}

.scrolled__list {
  @include flex(center, center);
  flex: 1 1;
  margin: 0 rem(8px);

  @include tablets {
    display: none;
  }
}

.scrolled__item {
  margin: 0 3px;
  display: flex;
}

.scrolled__link {
  font-size: 25px;
  color: $lightBrown;
  padding: 5px;
}