.ui-button {
  outline: none;
  background: none;
  border-color: $beige;
  color: $brown;
  &:hover, &:focus {
    background: none;
    border-color: $beige;
    color: $brown;    
    .ui-icon {
      background-image: none;
    }
  }
}
.ui-selectmenu-button.ui-button {
  width: 100%;
  min-width: 80px;
  margin-bottom: 15px;
}
.ui-selectmenu-icon.ui-icon {
  background-image: none;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: $midBrown;
  border-width: 6px 5px 0px;
  margin-top: 4px;
}
.ui-widget.ui-widget-content {
  border: 1px solid $beige;
  border-radius: 3px;
  min-width: rem(180px);
  color: $brown;
  font-style: italic;
  padding: 0;
  @include tablets {
    min-width: auto;
  }
}
.ui-menu .ui-menu-item {  
  padding: 5px;
  
}
.ui-menu-item > div{
  margin: 0;
  padding: 0;
  font-size: 12px;
  border-bottom: 1px solid transparent;
}
.ui-widget-content .ui-state-active {
  background-color: transparent;
  color: $brown;
  border: none;
  margin: 0;
  border-bottom: 1px dashed $beige;
}