//Переменные цвета
$brown: #4e2b1f;
$midBrown: #5e2901;
$lightBrown: #d3bdb0;
$red: #c22032;
$beige: #bfb3ae;
$lightBeige: #f5f2f0;

//Переменные начертания
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;

//Переменные размера дисплея
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;