mixin menu(title)
  - 
    var pages = [{
      href: "./o-nas.html",
      title: "О нас"
      },{
        href: "./dostavka-i-oplata.html",
        title: "Доставка и оплата"
      },{
        href: "./bongid.html",
        title: "Бонгид"
      },{
        href: "./blog.html",
        title: "Блог"
      },{
        href: "./spetspredlozheniya.html",
        title: "Спецпредложения"
    }]
  nav.menu
    .container
      ul.menu__list
        each page in pages
          li.menu__item(class=`${title == page.title ? 'menu__item--active' : ''}`)
            a.menu__link(href=`${page.href}`) #{page.title}    
      .toggle-menu
        .toggle-menu__inner
      .login
        a.login__link(href='./personal.html') Войти&nbsp;
        a.login__link(href='./registration.html') Зарегистрироваться